.width-bg {
    background-color: rgb(71, 71, 73);
  }
  
  .hero-section {
    height: 100vh;
    background-image: url("../img/portada.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .hero-content {
    width: 60%;
    padding: 2rem;
    border-radius: .5rem;
    background-color: rgba(245, 237, 225, 0.733);
    backdrop-filter: blur(3px);
    color: rgb(18, 17, 19);
  }
  
  .margin-section {
    margin-top: 70px;
  }